// Custom styles.
.mist body {
    font-family: 'Avenir', Helvetica, Arial, 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    height: 100%;
    color: #606266;
    background-color: white;
    //background-color: #f9f9f9;
    justify-content: justify;
}

.mist a {
    color: #777;
}

.mist .header {
    height: 60px;
    background-color: #545c64;
}

.mist .header-inner {
    height: 100%;
    padding: 0;
}

.mist .site-nav {
    height: 100%;
}

.mist .brand,
.mist .brand:hover {
    color: #ffd04b;
}

.mist .logo-line-before, .logo-line-after {
    display: none;
}

.mist .site-meta .site-title {
    font-size: 29px;
    font-weight: 500;
    height: 60px;
    line-height: 60px;
}

.mist .menu {
    margin: 0;
}

.mist .menu .menu-item {
    height: 60px;
    line-height: 60px;
}

.mist .menu .menu-item a {
    height: 56px;
    line-height: 56px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    margin: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
}

.mist .menu .menu-item a:hover,
.mist .menu .menu-item-active a {
    color: #ffd04b;
    background-color: rgb(67, 74, 80);
    border-bottom: 2px solid #ffd04b;
}

.mist .posts-expand .post-title {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 0;
}

.mist .posts-expand .post-title-link {
    line-height: 1.4;
}

.mist .posts-expand .post-title-link::before {
    height: 1px;
}

.mist .posts-expand .post-title, 
.mist .posts-expand .post-meta {
    text-align: center;
}


.mist .posts-expand .post-meta,
.mist .posts-expand .post-meta a {
    color: #909399;
}

.mist .posts-expand .post-body {
    font-size: 14px;
    text-align: justify;
}

.mist .posts-expand .post-body img {
    padding: 0;
    border: none;
}

.mist .post-button {
    text-align: right;
    margin-top: 0;
}

.mist .post-button a {
    color: #777;
    border-bottom: 1px solid #777;
}

.mist .comments {
    margin: 60px 0px 0;
}

.mist .footer {
    //background-color: #fff;
    background-color: #f9f9f9;
}

.mist .footer-inner {
    text-align: center;
}

.mist .sidebar {
    background: #434a50;
    box-shadow: none;
}

.mist .sidebar-inner,
.mist .sidebar a {
    color: #f2f2f2;
}

.mist .site-author-image {
    padding: 0;
    border: 2px solid #777;
}

.mist .fancybox-skin {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.mist .local-search-popup,
.mist .local-search-popup .local-search-header {
    border-radius: 0;
}

.mist blockquote {
    line-height: 1.6;
    margin-bottom: 20px;
}

@media(max-width: 767px) {
    body {
        line-height: 1.8;
    }

    .mist .main {
        padding-bottom: 0;
    }

    .mist .main-inner {
        margin-top: 65px;
        padding-bottom: 80px;
    }

    .mist .header {
     height: 45px;
    }

    .mist .site-meta .site-title {
        font-size: 23px;
        height: 45px;
        line-height: 45px;
    }

    .mist .header {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 9998;
    }

    .mist .site-nav-toggle {
        display: none;
    }

    .mist .site-nav {
        width: 100%;
        height: 45px;
        display: inline-block;
        background-color: #545c64;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9998;
        border-top: none;
    }

    .mist .menu .menu-item {
        width: 20%;
        height: 45px;
        line-height: 45px;
        display: block;
        float: left;
    }

    .mist .menu .menu-item a {
        height: 41px;
        line-height: 41px; 
    }

    .mist .content-wrap {
        padding: 0;
        margin-top: 60px;
    }

    .mist .posts-expand {
        margin: 0 15px;
    }

    .mist .pagination {
        margin-top: 40px;
    }

    .mist .comments {
        margin: 60px 15px 0;
    }

    .mist .footer {
        display: none;
    }

    .mist .page-home .post {
        margin-top: 20px;
        text-align: justify;
    }

    .mist .page-home .post-title {
        text-align: left;
        font-size: 18px;
        font-weight: 400;
        margin: 20px 0 0 0;
    }

    .mist .page-home .post-title .post-title-link {
        color: #555;
    }

    .mist .page-home .post-meta {
        text-align: left;
        margin: 5px 0;
        font-size: 10px;
    }

    .mist .page-home .posts-expand .post-body {
        line-height: 1.6em;
    }

    .mist .page-home .posts-expand .post-body p {
        margin: 0;
    }

    .mist .page-home .posts-expand .post-body .group-picture {
        margin-bottom: 20px;
    }

    .mist .page-home .posts-expand .post-body .fancybox img {
        margin-bottom: 5px;
    }

    .mist .page-home .posts-expand .post-button {
        display: none;
    }

    .mist .page-home .posts-expand .post-footer {
        margin: 20px 0;
    }

    .mist .page-home .posts-expand .post-footer .post-eof {
        width: 100%;
        height: 1px;
        margin: 0;
        background: none;
        display: block;
        border-bottom: 1px dashed #ddd;
    }



    .mist .page-archive .posts-collapse {
        line-height: 2;
    }

    .mist .page-archive .posts-collapse .post {
        margin: 20px 0;
    }

    .mist .page-archive .posts-collapse .post-meta {
        top: 3px;
        left: 10px;
    }

    .mist .page-archive .posts-collapse .post-title {
        font-size: 14px;
        margin-left: 50px;
    }



    .mist .page-post-detail .post {
        text-align: justify;
    }  

    .mist .page-post-detail .post .post-title {
        font-size: 18px;
        font-weight: 400;
    }

    .mist .page-post-detail .post .post-meta {
        margin-bottom: 30px;
    } 
}

@media(min-width: 768px) and (max-width: 991px) {
    .mist .header-inner,
    .mist .main-inner {
        width: 700px;
    } 
}

@media(min-width: 992px) {
    .mist .site-nav {
        margin-right: -30px;
    }

    .mist .post-meta .post-meta-item-icon {
        display: none;
    }
}
